header
  h1.logo Excellece College of Science
  
  nav.site-nav
    ul.main-menu
      li.drop-down: a(href="#") About
        span.caret
        ul.sub-menu
          li: a(href="#") Overview
          li: a(href="#") History and Discoveries
          li: a(href="#") Traditions
          li: a(href="#") Experience Berkeley
          li: a(href="#") Visit
          
      li.drop-down: a(href="#") Admissions
        span.caret
        ul.sub-menu
          li: a(href="#") Overview
          li: a(href="#") History and Discoveries
          li: a(href="#") Traditions
          li: a(href="#") Experience Berkeley
          li: a(href="#") Visit
          
      li.drop-down: a(href="#") Academics
        span.caret
        ul.sub-menu
          li: a(href="#") Overview
          li: a(href="#") History and Discoveries
          li: a(href="#") Traditions
          li: a(href="#") Experience Berkeley
          li: a(href="#") Visit
          
      li.drop-down: a(href="#") Research
        span.caret
        ul.sub-menu
          li: a(href="#") Overview
          li: a(href="#") History and Discoveries
          li: a(href="#") Traditions
          li: a(href="#") Experience Berkeley
          li: a(href="#") Visit
          
      li.drop-down: a(href="#") Campus Life
        span.caret
        ul.sub-menu
          li: a(href="#") Overview
          li: a(href="#") History and Discoveries
          li: a(href="#") Traditions
          li: a(href="#") Experience Berkeley
          li: a(href="#") Visit
  
  .mobile-nav-toggle: span
