mixin nav-content(content)
  li.drop-down: a(href="#")= content
    span.caret
    ul.sub-menu
      li: a(href="#") Overview
      li: a(href="#") History and Discoveries
      li: a(href="#") Traditions
      li: a(href="#") Experience Berkeley
      li: a(href="#") Visit
      
//- .mobile-nav
//-   ul.main-menu
//-     +nav-content('About')
//-     +nav-content('Admissions')
//-     +nav-content('Academics')
//-     +nav-content('Research')
//-     +nav-content('Campus Life')

      
header
  h1.logo Excellece College of Science
  
  nav.site-nav
    ul.main-menu
      +nav-content('About')
      +nav-content('Admissions')
      +nav-content('Academics')
      +nav-content('Research')
      +nav-content('Campus Life')
      
  
  .mobile-nav-toggle: span
