mixin nav-content(content)
  li.drop-down= content
    span.caret
    ul.sub-menu
      li: a(href="#") Overview
      li: a(href="#") History and Discoveries
      li: a(href="#") Traditions
      li: a(href="#") Experience Berkeley
      li: a(href="#") Visit
      
//- .mobile-nav
//-   ul.main-menu
//-     +nav-content('About')
//-     +nav-content('Admissions')
//-     +nav-content('Academics')
//-     +nav-content('Research')
//-     +nav-content('Campus Life')

      
header.home-header
  h1.logo Excellece College of Science
  
  nav.site-nav
    ul.main-menu
      li.drop-down.ovl-tgr About
      +nav-content('Admissions')
      +nav-content('Academics')
      +nav-content('Research')
      +nav-content('Campus Life')
      
  
  .mobile-nav-toggle: span
  
  
//overlay-markup
.overlay
  .modal
    h2.home-lead Welcome to Excellence.edu.in
    p Hi, my name is <span class="emph">Gaurav Barde.</span> I'm the creator of Excellence.edu.in Website. I designed, coded &amp; launched this site as a personal side project to test my front-end Design and Developement skills.
    
    p Find the GitHub repository 
      a(href="").emph here.
      
    .close-btn: span
