section.activities
  .activities-wrapper
    .at-excellence
      h1.home-lead At Excellence
      hr
      img(src="assets/img/carousel-images/ca-4.jpg", alt="Gallery Image")
      h3.title Diversity at Excellence
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      
    .events
      h1.home-lead Events
      hr
      ul.article-list
        li: a(href="#") MAR 23 | 10:30 AM Campus Architectural Tour
        li: a(href="#") MAR 31 | 2:00 PM Memorial Service & Reception for John
        li: a(href="#") MAR 31 | 8:00 PM Stargazing Lecture - Why Stars Shine - Robyn Sanderson (Caltech)
        li: a(href="#") More Events
    
    .excellence-blog
      h1.home-lead Excellence Blog
      hr
      .flex.flex-center
        h3.post If You Want to Survive in Design, You Better Learn to Code: John Maeda
  
