doctype html
html(lang="eng")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Excellence.edu.in
    link(rel="stylesheet", href="assets/css/main.css") 
  
  body
    .home-wrap
      include jadefiles/header.jade
